* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.Home_body {
  background-color: rgb(245, 230, 199);
  background-image: url("/public/Images/Home_Background.jpg");
  background-size: cover;
}

.Title {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0 50%;
}

.Quote {
  text-align: center;
  font-family: "Dancing Script", cursive;
}

.Vehicle_select {
  background-color: rgba(235, 153, 31, 0.678);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  color: rgb(0, 0, 0);
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 0 35%;
  width: 25%;
  list-style: none;
  gap: 1rem;
  text-decoration: none;
  height: 100%;
  padding: 0.25rem;
  border: 1;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
  border-top: none;
  border-bottom: none;
  border-color: rgb(79, 76, 69);
}

.Logo {
  font-size: 2rem;
}

.input_style {
  text-align: center;
  border: 1;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
  border-color: rgb(122, 45, 45);
}

.search_button {
  width: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  text-align: center;
  color: white;
  border: 1;
  margin-left: 140px;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 6px 6px 6px 6px;
  border-color: rgb(0, 0, 0);
  background-color: rgb(28, 70, 13);
}

.search_button:hover {
  color: rgb(28, 70, 13);
  background-color: white;
}

.blink_me {
  color: rgb(31, 18, 134);
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.Trip_start {
  background-color: rgba(228, 164, 25, 0.441);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  color: inherit;
  text-decoration: none;
  height: 100%;
  margin: 0 35%;
  width: 25%;
  text-align: center;
  align-items: center;
  padding: 0.1rem;
  border: 1;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
  border-color: rgb(79, 76, 69);
  border-bottom: none;
}

.Trip_start2 {
  background-color: rgba(228, 164, 25, 0.441);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  color: inherit;
  text-decoration: none;
  height: 100%;
  margin: 0 35%;
  width: 25%;
  text-align: center;
  align-items: center;
  padding: 0.1rem;
  border: 1;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
  border-color: rgb(79, 76, 69);
  border-top: none;
}

.Advertise {
  color: rgb(0, 0, 0);
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 0 10%;
  list-style: none;
  text-decoration: none;
  height: 100%;
  width: 60%;
  padding: 0.1rem;
}

.Adv_img {
  border: 1px;
  border-radius: 30px 30px 30px 30px;
}

.Adv_img:hover {
  border: 1;
  border-color: black;
  border-style: groove;
  border-width: 10px;
  opacity: 60%;
}
